name: Build

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:
    strategy:
      matrix:
        go-version: [1.13, 1.14, 1.15]
        goos: [darwin, freebsd, linux, netbsd, openbsd, solaris, windows]
    runs-on: ubuntu-latest

    steps:
    - name: Install Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}

    - name: Check out code
      uses: actions/checkout@v2

    - name: Build (cross-compile)
      run: GOOS=${{ matrix.goos }} go build ./...
