name: Static Analysis

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v5.0.2
      with:
        go-version: '1.25'

    - name: Install staticcheck
      run: go install honnef.co/go/tools/cmd/staticcheck@latest

    - name: Run staticcheck
      run: |
        staticcheck -version
        staticcheck -- ./...

    - name: Run go vet
      run: go vet ./...
