name: Static Analysis

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
    - name: Install Go
      uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.0.2
      with:
        go-version: '1.23'

    - name: Check out code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Install staticcheck
      run: go install honnef.co/go/tools/cmd/staticcheck@latest

    - name: Run staticcheck
      run: |
        staticcheck -version
        staticcheck -- ./...

    - name: Run go vet
      run: go vet ./...
