name: Static Analysis

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Install Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v5.0.2
      with:
        go-version: '1.25'

    - name: Install staticcheck
      run: go install honnef.co/go/tools/cmd/staticcheck@latest

    - name: Run staticcheck
      run: |
        staticcheck -version
        staticcheck -- ./...

    - name: Run go vet
      run: go vet ./...
